.simple-keyboard {
  top: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  transition: all 0.3s ease-out;
}
.simple-keyboard.hg-theme-default {
  background-color: #dce8f2;
}

.simple-keyboard.hg-theme-default .hg-rows .hg-row .hg-button > span {
  color: #092147;
  font-size: 25px;
  font-weight: bold;
}

.simple-keyboard.numeric-theme .hg-rows .hg-row .hg-button > span {
  font-size: 30px;
}

.simple-keyboard.hg-theme-default .hg-candidate-box .hg-candidate-box-prev,
.simple-keyboard.hg-theme-default .hg-candidate-box .hg-candidate-box-next {
  background: #dce8f2;
  color: #092147;
}

.simple-keyboard.hg-theme-default .hg-candidate-box .hg-candidate-box-list {
  background-color: #fff;
}

.simple-keyboard.show {
  /*  display: block !important; */
  top: 70%;
}

.simple-keyboard.hide {
  /* display: none !important; */
  top: 100%;
}
.simple-keyboard .hg-button-close {
  flex: 0.11;
}

.simple-keyboard .hg-button-close:only-child {
  flex: 1;
}

.simple-keyboard.numeric-theme .hg-row:not(:last-child) {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, calc(100% / 3));
}

.simple-keyboard.numeric-theme .hg-button.hg-standardBtn {
  width: auto;
}
