.simple-keyboard {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
}
.simple-keyboard.show {
  display: block !important;
}

.simple-keyboard.hide {
  display: none !important;
}
.simple-keyboard .hg-button-close {
  flex: 0.11;
}

.simple-keyboard .hg-button-close:only-child {
  flex: 1;
}

.simple-keyboard.numeric-theme .hg-row:not(:last-child) {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, calc(100% / 3));
}

.simple-keyboard.numeric-theme .hg-button.hg-standardBtn {
  width: auto;
}